Flask==2.2.5
Flask-Login==0.6.3
Flask-SQLAlchemy==3.0.5
openai==0.28.1
openpyxl==3.1.2
pydantic==1.10.12
gunicorn==21.2.0
pandas @ https://github.com/pydata/pandas/releases/download/v2.0.3/pandas-2.0.3-cp310-cp310-manylinux_2_17_x86_64.whl
