{% extends 'base.html' %}
{% block title %}Панель администратора{% endblock %}

{% block content %}
  <h2>Панель администратора</h2>

  <!-- Информация о пользователях -->
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Логин</th>
        <th>Роль</th>
      </tr>
    </thead>
    <tbody>
      {% for u in users %}
      <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.role }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
