{% extends 'base.html' %}
{% block title %}Преподаватель{% endblock %}

{% block content %}
  <h2>Кабинет преподавателя</h2>
  <p>Добро пожаловать, {{ current_user.username }}!</p>

  {% if reports %}
    <table border="1" cellpadding="8" cellspacing="0">
      <thead>
        <tr>
          <th>Пользователь</th>
          <th>Дата</th>
          <th>Задание</th>
          <th>Решение</th>
          <th>Обратная связь</th>
        </tr>
      </thead>
      <tbody>
        {% for r in reports %}
          <tr>
            <td>{{ r.username }}</td>
            <td>{{ r.timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
            <td><pre>{{ r.task }}</pre></td>
            <td><pre>{{ r.solution }}</pre></td>
            <td><pre>{{ r.feedback }}</pre></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Пока нет выполненных заданий.</p>
  {% endif %}
{% endblock %}
