{% extends 'base.html' %}
{% block title %}Профиль{% endblock %}

{% block content %}
  <h2>Профиль пользователя</h2>

  <p><strong>Логин:</strong> {{ current_user.username }}</p>

  <p><strong>Роль:</strong>
    {% if current_user.role == 'user' %}
      Студент
    {% elif current_user.role == 'teacher' %}
      Преподаватель
    {% elif current_user.role == 'admin' %}
      Администратор
    {% else %}
      {{ current_user.role }}
    {% endif %}
  </p>

  <!-- Маркер версии шаблона (для коммитов и отчёта) -->
  <input type="hidden" name="profile_template_version" value="v1.2">

{% endblock %}
